#modal_box {
    width: 700px;
    height: 240px;
    background: green;
    margin: auto;
    box-shadow: 0 0 7px 10px gray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#word {
    font-size: 46px;
}

#button_container {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

#delete_button {
    background-color: black;
    cursor: pointer;
    color: white;
}

#next {
    font-size: 25px;
    cursor: pointer;
}

.incorrect {
    background-color: red !important;
}

.correct {
    background-color: green !important;
    color: white !important;
    transform: scale(1.4) !important;
}