#modal_box {
    width: 700px;
    height: 240px;
    background: green;
    margin: auto;
    box-shadow: 0 0 7px 10px gray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#word {
    font-size: 46px;
}

#delete_button {
    background-color: black;
    cursor: pointer;
    color: white;
}

#next {
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width: 415px) {
    #modal_box {
        width: 97vw;
    }

    #word {
        font-size: 40px;

    }
}