.main_button {
    padding: 4px 6px;
    border: solid black 1px;
    background-color: lightblue;
    color: darkgreen;
    font-size: 46px;
    margin: 3px 6px;
    cursor: pointer;
    display: inline-block;
}

.main_button:hover {
    transform: scale(1.1);
}



@media screen and (max-width: 415px) {
    .main_button {
        font-size: 30px;
    }

}